<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NetJungleTimer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NetJungleTimer.Properties.Settings>
            <setting name="hostname" serializeAs="String">
                <value>guy.deserves.a.hug.at.lukegb.com:9446</value>
            </setting>
            <setting name="roomName" serializeAs="String">
                <value>TRGG</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="useSpeechSynth" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hostpassword" serializeAs="String">
                <value />
            </setting>
        </NetJungleTimer.Properties.Settings>
    </userSettings>
</configuration>